<meta http-equiv="Content-Security-Policy" content="default-src 'self' admin.danwright.co" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' jila-backend.s3-us-west-2.amazonaws.com" />

= partial 'partials/navigation'

.page-container{ng: {view: ''}, autoscroll: true, detect: {keyboard: '', back: ''}}

.player